body {
  font-size: 18px;
}
body > header {
  background-color: #d7e0e4;
}
main {
  background-color: #d7e0e4;
}
article {
  background-color: #e0e7eb;
  padding: 10px 30px;
  color: #333;
  font-size: 1.3rem
}
.post-content h2 {
  color: #51617a;
  border-bottom: 1px solid #acacac;
}
